.carousel-container {
    display: flex;
    overflow-x: hidden; /* Hide the overflow to prevent showing duplicates */
    width: 100%; /* Adjust based on your layout */
    position: relative; /* Position relative to handle inner elements */
  }
  
  .carousel-image {
    min-width: 100%;
    height:45vw; /* Each image takes up the full width of the carousel */
  }
  
  .carousel-image img {
    width: 100%; /* Image takes the full width */
    height: 45vw; /* Maintain aspect ratio */
  }
  